.container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 100%;
  width: 300px;
  font-family: Arial, sans-serif;
}

.common-button {
  width: 100%;
  padding: 12px 24px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
}

.primary-button:hover {
  background-color: #45a049;
}

.secondary-button {
  background-color: #2196f3;
}

.secondary-button:hover {
  background-color: #1976d2;
}
